!jest.config.js
*.d.ts
node_modules
*.pid
*.seed
*.pid.lock
.cdk.staging
cdk.out
package-lock.json
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
*.tgz
.cache
.DS_Store
.venv
.history
**/front/build/
.coverage
__pycache__
*.egg-info
*.eggs
*.pytest_cache
htmlcov
.env
build
dist
**/bin/*.js
**/lib/*.js
**/infra/test/*.js